// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.selected{
  background-color: skyblue;
}

.highlight{
  background-color: orange!important;
}

.panel{
  background-color: #CCC
}

#product-list{
  list-style: none;
  .product-row{
    padding: 5px;
    border-top  : 1px solid #CCC; 
    border-left : 1px solid #CCC; 
    border-right: 1px solid #CCC; 
  }
  .product-row:last-child{
    border-bottom: 1px solid #CCC; 
  }
}

#review_list{
  list-style: none;
  margin: 0px;
  margin-top: 10px;
  .review_line{
    padding: 5px;
    border-top  : 1px solid #CCC; 
    border-left : 1px solid #CCC; 
    border-right: 1px solid #CCC; 
  }
  .review_line:last-child{
    border-bottom: 1px solid #CCC; 
  }
}

.modal-header{
  color: #ffffff;
  background-color: #0044cc;
  border-radius: 4px 4px 0 0;
}