// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.selected{
  background-color: #EEE
}

.highlight{
  background-color: orange!important;
}

.panel{
  background-color: #CCC
}

#products-table{
  .product-row{
    height: 50px;
  }

  .checkbox-colmun{
    vertical-align:middle;
    width:20px
  }
}
