<p id="notice"><%= notice %></p>

<p>
  <b>書いた人:</b>
  <%= @review.user.username %>
</p>

<p>
  <b>Body:</b>
  <%= simple_format(@review.body) %>
</p>

<p>
  <b>書いた日付:</b>
  <%= @review.updated_at.strftime('%Y-%m-%d %H:%M:%S') %>
</p>

